.products-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fffcf3;
  }
  
  .products-section h1 {
    font-size: 2.5em;
    color: #a68b5b; 
    margin-bottom: 40px;
    font-weight: 300;
  }
  
  .products-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
  }
  
  .product {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 400px;
    text-align: center;
    border-radius: 35%;
  }
  
  .product-label {
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 320px;
    justify-content: center;
    height: 80vh;
  }
  
  .product-label div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  
  .product-image {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  #pastries-image {
      background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 38%)),
      url("../../public/Images/image1.jpg");
  
  }
  
  #cookies-image {
      background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 38%)),
      url("../../public/Images/image2.jpg");
  }
  
  #breads-image {
      background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 38%)),
      url("../../public/Images/image3.png");}
  
  
  
  .product-text h2 {
    font-size: 1.5em;
    color: #f7d9cd; 
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-weight: 400;
  }
  
  .product-text p {
    font-size: 1em;
    color: #f7d9cd; 
  }
  

  @media screen and (max-device-width: 480px) {
    .product-label {
        height: 35vh;
    }
  }